@import url('https://fonts.googleapis.com/css?family=Asap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body {
    background: black;
}

#fahrenheit {
    border-top: 4px solid gray;
    border-bottom: 4px solid gray;
}

input[type=number] {
    background: black;
    height: 33.33vh;
    font-size: 10em;
    font-family: 'Asap', sans-serif;
    outline: none;
    color: gray;
    text-align: center;
    
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #222;
}
input::-moz-placeholder { /* Firefox */
    color: #222;
}
input::-ms-input-placeholder { /* Edge */
    color: #222;
}








/* === Media (Responsive) ==========================*/

/*
@media screen and (max-width: 730px) {
    input {
        font-size: 120px;
        padding: 25px 0;
        width: 100%;
            color: blue;
    }
}

@media screen and (max-width: 600px) {
    input {
        font-size: 90px;
        width: 100%;
        padding: 43px 0;
            color: red;
    }
}

@media screen and (max-width: 450px) {
     input {
        font-size: 70px;
        padding: 13% 0;
            color: green;
    }
}*/
